{%extends 'index.html'%}
{%block content%}
<h1>Learn Loops</h1>

<div class="loopbox">
    <h2>For Loop</h2>
    <p>The for loop is used to iterate over elements of a sequence,<br> it is often 
    used when you have a piece of code which you want to repeat<br> "n" number of times.
    It works like this: " for all elements in a list, do this "</p>
    <div class="loopexample">

    </div>
<div>
<hr>
<div class="loopbox">
<h2>While Loop</h2>
<p>When using a while loop, anything between the <strong>While</strong> and <br> the <strong>colon</strong>, there is a value that first is True but will later be False.<br> As long as the statement  is True , the rest of the code will run.</p>
</div>
<hr>
<div class="loopbox">
<h2>Best Movie</h2>
<p>princess mononoke is pretty good.</p>
</div>
{%endblock%}